.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  position: relative;

  box-sizing: content-box;

  block-size: 100%;
  inline-size: 100%;

  display: flex;

  flex-wrap: nowrap;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized {
  touch-action: pan-y;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0, 0, 0);
}

.swiper-button-lock {
  display: none;
}
